<header>
  <h1>Integrando a API AutoDraw AI do Google com Angular</h1>
  <h2>Feito por <a href="https://goo.gl/TyvWg9" target="_blank">Thallis André</a></h2>
</header>

<div class="canvas">
  <canvas #canvas width="350" height="350"></canvas>
  <button type="button" class="clear-canvas-button" >Limpar desenho</button>
</div>


<div class="autodraw-results">
  <ng-template>
    <figure class="autodraw-image">
      <!-- <img src="{{ icon }}" width="90" height="90" > -->
    </figure>
  </ng-template>
</div>